.container {
  margin-bottom: 0.2em;
  width: 50%;
  padding: 0.2em;
}
.video {
  display: flex;
  align-items: center;
  transition: transform 250ms ease-in;
  border: 1px solid lightgray;
  cursor: pointer;
  box-shadow: 6px 6px 5px 3px rgba(0, 0, 0, 0.75);
}
.video:hover {
  transform: scale(1.02);
}
.thumbnail {
  width: 40%;
  height: 100%;
}
.metadata {
  margin-left: 0.2em;
}
.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}
.channel {
  font-size: 0.9rem;
  font-size: 0.6rem;
}
